/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue";
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;


    /* nodig voor het omkeer effect van de elementen in de header */
    /* bron sanne */
    background-color: #fff;
    ;
}

section:first-of-type {
    background-color: #F2F2F2;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    padding-bottom: 2em;
}



section:first-of-type>ul:first-of-type {
    display: flex;
    gap: 8px;

    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 100px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

section:first-of-type ul:first-of-type li {
    flex: 0 0 80%;
    /* bron: chatgpt */
    scroll-snap-align: start;
}

section:first-of-type ul:first-of-type img {
    display: block;
    width: 100%;
    height: auto;
}

section:first-of-type>ul:nth-of-type(2) {
    list-style: none;
    margin: 0;
    padding: 1em;
    background: var(--AchtergrondLicht);
    border-radius: 2px;
}

section:first-of-type>ul:nth-of-type(2)>li:first-of-type p:first-of-type {
    display: inline-block;
    padding: .25rem .5rem;
    background: var(--AchtergrondDonker);
    color: var(--KleurtekstLicht);
    font-size: 8px;
    border-radius: 2px;
}

section:first-of-type>ul:nth-of-type(2)>li:first-of-type h1 {
    font-size: 12px;
    padding: 0;
    margin: 0;
}


section:first-of-type>ul:nth-of-type(2)>li:first-of-type p {
    font-size: 12px;
}

section:first-of-type>ul:nth-of-type(2)>li:first-of-type p:nth-of-type(4) {
    font-size: 12px;
    color: gray;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li:nth-of-type(2)>ul {
    display: flex;
    gap: 1rem;

    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li:nth-of-type(2)>ul>li {
    flex: 0 0 4.75rem;
    /* bron: chatgpt */
    height: 4.75rem;

    border: 1px solid #ddd;
    background: #f5f5f5;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li:nth-of-type(2)>ul>li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li:nth-of-type(2)>ul>li input {
    position: absolute;
    opacity: 0;
}

section:nth-of-type(1)>ul:nth-of-type(2)>li:nth-of-type(2)>ul>li input:checked+img {
    outline: 1px solid black;
}

section:first-of-type form fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
}

section:first-of-type form legend {
    font-size: 12px;
    margin-bottom: 1rem;
}

section:first-of-type form fieldset label {
    height: 40px;
    display: grid;
    place-items: center;

    font-size: 12px;

    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #fff;

    cursor: pointer;
}

section:first-of-type form fieldset label input {
    position: absolute;
    opacity: 0;
}

/* geselecteerd */
section:first-of-type form fieldset label:has(input:checked) {
    border-color: #000;
    border-width: 1px;
}

section:first-of-type form fieldset label:has(input:disabled) {
    background: #f2f2f2;
    color: #bdbdbd;
    border-color: #eee;
}

section:first-of-type form p {
    font-size: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
}

section:first-of-type form p a {
    color: var(--KleurtekstDonker);
}

section:first-of-type form button:first-of-type {
    color: var(--AchtergrondLicht);
    background-color: var(--AchtergrondDonker);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
    font-size: 12px;
    border-radius: 2px;
    font-family: Helvetica Neue condensed;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em;

}

section:first-of-type form button:nth-of-type(2) {
    color: var(--KleurtekstDonker);
    background-color: var(--AchtergrondLicht);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    border: solid #e5e7eb;
    font-size: 12px;
    border-radius: 2px;

    font-family: Helvetica Neue condensed;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 0.1em;
}

section:first-of-type>ul:nth-of-type(2)>li:nth-of-type(4)>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

section:first-of-type>ul:nth-of-type(2)>li:nth-of-type(4)>ul>li::before {
    content: "✓";

}

section:first-of-type>ul:nth-of-type(2)>li:nth-of-type(4)>ul>li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: .75rem 0;
}

section:first-of-type>ul:nth-of-type(2)>li:nth-of-type(4)>ul>li p {
    margin: 0;
    font-size: 12px;
}

section:nth-of-type(2) {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 5em;
}

section:nth-of-type(2) details {
    border-bottom: 1px solid #e6e6e6;
}

section:nth-of-type(2) details:last-of-type {
    border-bottom: 1px solid #e6e6e6;
}

section:nth-of-type(2) details p {
    color: var(--KleurtekstDonker);
    font-size: 0.75em;
    font-family: Helvetica Neue light;
}

section:nth-of-type(2) details a {
    color: var(--KleurtekstDonker);
    font-size: 0.75em;
    font-family: Helvetica Neue;
    margin-bottom: 20px;
    display: inline-block;

}

section:nth-of-type(2) details ul {
    list-style: none;
    color: var(--KleurtekstDonker);
    font-size: 0.75em;
    font-family: Helvetica Neue light;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}


section:nth-of-type(2)>p {
    font-family: Helvetica Neue;
    font-size: 1em;
    padding-top: 4em;
    padding-bottom: 2em;
    line-height: 1.5em;
}


section:nth-of-type(2) summary {
    position: relative;
    list-style: none;
    cursor: pointer;

    padding-top: 1.25em;
    padding-bottom: 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1rem;
}

section:nth-of-type(2) summary::after {
    content: "⌄";
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
    color: #bdbdbd;
}

section:nth-of-type(3) {
    padding-left: 16px;
    padding-right: 16px;
}

section:nth-of-type(3) article {
    position: relative;
}

section:nth-of-type(3) button {
    position: absolute;
    bottom: 88px;
    right: 5px;
    background-color: var(--AchtergrondLicht);
    border: none;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 16px;
}

section:nth-of-type(3) ul {
    display: flex;
    gap: 16px;

    list-style: none;
    margin: 0;
    padding: 0;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

section:nth-of-type(3) li {
    flex: 0 0 80%;
    /* bron: chatgpt */
    scroll-snap-align: start;
}

section:nth-of-type(3) ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

section:nth-of-type(3)>a:last-of-type {
    display: block;
    margin-top: 24px;
    padding: 16px 0;

    background: var(--AchtergrondDonker);
    color: var(--KleurtekstLicht);

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;

    text-decoration: none;
    border-radius: 2px;
}

section:nth-of-type(3) a {
    text-decoration: none;
    color: var(--KleurtekstDonker);
}

section:nth-of-type(3) p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    padding-top: 6px;
}

section:nth-of-type(3) article p:nth-of-type(2) {
    opacity: 0.75;
}

section:nth-of-type(3) h3 {
    font-size: 12px;
    margin: 0;
    padding-top: 2px;

}


section:last-of-type {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    overflow: hidden;
}

section:last-of-type p:first-of-type {
    text-transform: uppercase;
    font-size: 12px;
}

section:last-of-type h2 {
    font-size: 48px;
    padding: 0;
    margin: 0;
    padding-bottom: 28px;
}

/* bron sanne */
section:last-of-type ul {
    --blokje-size: min(60vw, 20em);
    --caro-duration: 32s;

    margin: 0;
    padding-top: 3rem;
    padding-bottom: 5rem;
    list-style-type: "";

    display: grid;

    perspective: 90em;
    transform-style: preserve-3D;

    rotate: z -3deg;
}

/* bron sanne */
section:last-of-type li {
    grid-column-start: 1;
    grid-row-start: 1;
    width: var(--blokje-size);
    aspect-ratio: 1;

    animation: rotate3D var(--caro-duration) infinite linear;
    animation-delay: calc(var(--caro-duration) / sibling-count() * sibling-index() * -1);

    backface-visibility: hidden;
}

section:last-of-type:hover li {
    animation-play-state: paused;
}

section:last-of-type ul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

section:last-of-type form {
    width: 100%;
    display: flex;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 2px;
    background: var(--AchtergrondLicht);
}

section:last-of-type form input {
    flex: 1;
    font-size: 1rem;
    padding: 0 1rem;
    height: 3rem;
    border: none;
    min-width: 0;
}

section:last-of-type form input::placeholder {
    color: #bdbdbd;
}

section:last-of-type form button {
    border: none;
    background: var(--AchtergrondDonker);
    font-size: 12px;
    color: var(--KleurtekstLicht);

    padding: 15px 1rem;
    margin: 0 2px 0 0;

    text-transform: uppercase;
    border-radius: 2px;
}

section:last-of-type p:last-of-type {
    font-size: 0.8rem;
    color: lightgray;
}



@keyframes rotate3D {
    0% {
        transform:
            rotateY(0deg) translateZ(calc(var(--blokje-size) * 1.3));
    }

    100% {
        transform:
            rotateY(-360deg) translateZ(calc(var(--blokje-size) * 1.3));
    }
}

/* bron: chatgpt */
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
        scroll-behavior: auto !important;
    }
}